body {
    font-family: roboto, sans-serif;
    margin: 0;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 400px;
    padding-top: 16px;

}

li {
    list-style-type: none;
}

.header ul {
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0;
    margin: 0;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    margin: 0;
}

.top {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 90px 400px;
    flex-wrap: wrap;
    align-items: center;
}

.left-side h2 {
    font-size: 48px;
    font-weight: 800px;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.left-side p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 16px 0;
}

.right-side p {
    font-size: 18px;
    color: #E5E7EB;
    padding: 110px;
    display: flex;
    justify-content: center;
    background-color: grey;

}

.left-side {
    display: flex;
    flex-direction: column;
    width: 400px;
    
}

button {
    width: 100px;
    color: #F9FAF8;
    background-color: #3882F6;
    margin-bottom: 16px;
    border-radius: 6px;
    font-weight: bold;
    border: 2px solid #3882F6;
    padding: 3px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 300px;
    padding-bottom: 80px;
}

.second {
    display: flex;
    gap: 60px;

    
}

.square {
    height: 170px;
    width: 170px;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    font-size: 18px;
    color: grey;
    gap: 12px;
}

.item li {
    margin: 0;
    padding: 0;
    text-align: center;
    
}

.first ul {
    padding: 0;  
    text-align: center;
    margin: 50px;
    font-size: 36px;
    font-weight: 800;  
}
 .quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
    
 }

 #phrase { 
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    margin: 0;
    padding-top: 120px;
    width: 820px;
    
 }

 #author {
    font-size: 22px;
    font-weight: bold; 
    margin: 0;
    width: 760px;
    text-align: end;
    padding-bottom: 95px;
 }

.blue {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 900px;
    margin: 95px auto;
    background-color: #3882F6;
    border-radius: 9px;
    color: white;
    padding: 20px;
}

.blue button {
    border: 2px solid white;
}

.action h2 {
    margin-bottom: 0;
}

.action p {
    margin-top: 0;
}
